
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  /* background-color: rgb(249 250 251); */
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rbg(--foreground-rgb);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

#text-display {
  white-space: pre-wrap;
  display: block;
  text-align: center;
  border-radius: 20px;
  padding: 2rem;
  text-align: center;
  font-family: monospace;
  font-size: 6px;
  color: white;
  background-color: rgb(0, 0, 0);
}

* {
  box-sizing: border-box;
}

.mountains {
  background-image: url('/mountains.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
}

.linear-wipe {
    animation: flow 15s ease-in-out infinite;
    background: linear-gradient(-90deg, #83fff7, #2a5ce5);
    background-size: 200%;
    padding-left: 1rem;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.canvas{
  transition: 0.5s ease-in-out;
}
.canvas:hover {
  transform: translateX(0px);
  transform: translateY(0px);
  transition: 0.5s ease-in-out;
}

.blurred {
  animation: image_blur 0.5s forwards; 
}

.unblurred {
  animation: unblur 0.5s forwards; 
}

@keyframes image_blur {
  0% { filter: blur(0px);}
  100% { filter: blur(3px);}
}


@keyframes unblur {
  0% { filter: blur(3px);}
  100% { filter: blur(0px);}
}

@keyframes flow {
    0% {
        background-position: 0 50%;
    }
    90% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}


